{% extends 'portfolio/base.html' %}
{% block content %}
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    <script>
        function map_init_basic(map, options) {
            L.marker([{{ user.lat }}, {{ user.lon }}]).addTo(map);
            L.map.setView([{{ user.lat }}, {{ user.lon }}], 10);
        }
    </script>

    <div class="container">

        <div class="row" style="margin-top: 5em; height: 600px;">
            {% leaflet_map "yourmap" callback="window.map_init_basic" %}
        </div>
    </div>
{% endblock content %}
